@font-face {
	font-family: "Luckiest Guy";
	src: url('LuckiestGuy-Regular.ttf')
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #10151b;
}

::-webkit-scrollbar-thumb {
	background: #77777777;
	border-radius: 8px;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #10151b;
	color: #f1f1f1;
	min-height: 100%;
	font-size: 20px;
	font-family: "Luckiest Guy", sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

.container {
	margin: 50px 0;
}

@media(min-height:480px) {
	.container {
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

#gameCanvas {
	display: block;
	margin: auto;
}

#score {
	font-size: 48px;
	text-align: center;
}

.difficulty {
	width: 100%;
	display: table;
}

.difficulty .cont {
	text-align: center;
	display: table-cell;
}

.keys {
	text-align: center;
}

.keys button {
	box-sizing: border-box;
	line-height: 54px;
	font-size: 36px;
	text-align: center;
	width: 54px;
	color: #555;
	cursor: pointer;
	margin: 16px 8px 0;
	height: 54px;
	border-color: #f2f2f2;
	border-style: solid;
	text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
	border-width: 1px;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
	font-family: sans-serif;
	display: inline-block;
	outline: none;
	transition: box-shadow 0.3s ease, transform 0.15s ease;
	box-shadow: 0 0 0.5px #888,
				0 0.5px 0 #fff,
				0 3px 0 #C0C0C0,
				0 4px 8.5px rgba(68, 68, 68, 0.4),
				1px 0.5px 3px rgba(68, 68, 68, 0.25),
				-1px 0.5px 2px rgba(68, 68, 68, 0.25),
				0 4.5px 8px rgba(68, 68, 68, 0.1);
}

.keys button:hover,
.keys button:focus {
	box-shadow: 0 0 0.5px #888,
				0 0.5px 0 #fff,
				0 2px 0 #C0C0C0,
				0 1px 17.5px rgba(68, 68, 68, 0.3),
				1px 1px 3px rgba(68, 68, 68, 0.25),
				-1px 1px 2px rgba(68, 68, 68, 0.25),
				0 3.5px 2px rgba(68, 68, 68, 0.1);
	transform: translateY(1px);
}

.keys button:active {
	box-shadow: 0 0 0.5px #888,
				0 0.5px 0 #fff,
				0 0 0 #C0C0C0,
				0 0px 15px rgba(68, 68, 68, 0.15),
				1px 1px 3px rgba(68, 68, 68, 0.25),
				-1px 1px 2px rgba(68, 68, 68, 0.25),
				0 0px 2px rgba(68, 68, 68, 0.25);
	transform: translateY(2px);
}

.modal-overlay,
.intro-modal-overlay {
	background: #10151b;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 999999;
}

.modal-overlay {
	display: none;
}

.modal,
.intro-modal {
	position: relative;
	width: 500px;
	max-width: 90%;
	min-height: 380px;
	margin: 10px auto;
	padding: 30px 10px;
	color: lavender;
}

@media(min-height:480px) {
	.modal,
	.intro-modal {
		margin: 0 auto;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.modal p,
.intro-modal p {
	text-align: center;
}

h2 {
	margin: 20px 0;
	text-align: center;
}

a {
	color: inherit;
	text-underline-position: under;
}

li {
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.modal .winner {
	font-size: 80px;
	text-align: center;
	color: #f1f1f1;
	text-shadow: 0px 3px 0 #123456;
}

@media(max-width:480px) {
	.modal .winner {
		font-size: 60px;
	}
}

.modal .restart,
.intro-modal .start {
	padding: 15px 30px;
	display: block;
	font-size: 30px;
	font-family: "Luckiest Guy", sans-serif;
	border: none;
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#654321));
	background: linear-gradient(#353232, #654321);
	border: 1px solid #654321;
	border-radius: 5px;
	color: #f1f1f1;
	text-shadow: 0px 1px 0 #123456;
	cursor: pointer;
	margin: 50px auto 0;
	outline: none;
}

.modal .restart:hover,
.intro-modal .start:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#654321), to(#123456));
	background: linear-gradient(#654321, #123456);
}
